<div class="row d-flex justify-content-center text-align-center text-center">
  <div class="col col-8">
    <mat-card class="example-card">

      <mat-card-header>
        <mat-card-title> <h1>N°:</h1> </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <br>
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor in, natus quasi pariatur facere enim soluta reiciendis, tempora esse, sit atque obcaecati blanditiis earum iste voluptatibus. Est at deleniti inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. A ipsa exercitationem totam rerum illum commodi vero repudiandae iusto reprehenderit aliquam libero ad nobis eveniet, explicabo nulla asperiores dolor tempora! Officia.
        </h2>
        <br>
      </mat-card-content>

    </mat-card>

  </div>

</div>
