<!-- Main navigation -->
<!--Main Layout-->
<div class="fundo">
  <div class="view">
    <!-- Mask & flexbox options-->

    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <img src="" alt="" />

        <div
          class="col text-center position-absolute top-50 start-50 translate-middle mx-auto"
        >
          <button mat-raised-button (click)="goToProdutos()">Produtos</button> <br> <br>
          <button mat-raised-button (click)="goToTotem()">Totem</button> <br> <br>
          <button mat-raised-button (click)="goToCozinhaPedidos()">Cozinha</button> <br> <br>
          <button mat-raised-button (click)="goToUsuarioaPedidos()">Status Pedidos</button> <br> <br>
          <button mat-raised-button (click)="registrar()" >Cadastro</button> <br> <br>

        </div>
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>

<!--Main Layout-->
