<!-- Main navigation -->
<!--Main Layout-->

  <div class="view img-fluid" style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9707bcee-2345-4cd8-8919-76c5cf879cb3/dam3shz-7e2d3ab9-b481-4c9e-b686-239a3b17ac1c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk3MDdiY2VlLTIzNDUtNGNkOC04OTE5LTc2YzVjZjg3OWNiM1wvZGFtM3Noei03ZTJkM2FiOS1iNDgxLTRjOWUtYjY4Ni0yMzlhM2IxN2FjMWMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZltBLVRijDg7Xy5FOIxQM5UvRYLnu7aJJG1rUfH7VRU'); background-size: cover;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <div class="col text-center position-absolute top-50 start-50 translate-middle mx-auto">
            <button mat-raised-button>Produtos</button> <br> <br>
            <button mat-raised-button>Totem</button> <br> <br>
            <button mat-raised-button>Pedidos</button> <br>


          </div>


        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>

<!--Main Layout-->
