<!-- Main navigation -->
<!--Main Layout-->

  <div class="view img-fluid" style="background-image: url('https://images7.alphacoders.com/952/952239.png'); background-size: contain;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <div class="col">
            <button mat-button>Totem</button>

          </div>


        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>

<!--Main Layout-->
