<div class="body overflow-hidden">
  <nav class="navbar sticky-top fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sticky top</a>
    </div>
  </nav>
  <div class="main">
    <div class="row overflow-hidden">
      <div class="col col-2">
        <div class="row">
          <div class="card">
            <div class="card-body text-center">
              <img class="img-fluid" src="../../assets/burgar3.png" alt="" />
              <span class="mt-5">
                <strong> Hamburgar :D </strong>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body text-center">
              <img class="img-fluid" src="../../assets/pizza.png" alt="" />
              <span class="mt-5">
                <strong> Pisaaa :D </strong>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body text-center">
              <img class="img-fluid" src="../../assets/smoothie.png" alt="" />
              <span class="mt-5">
                <strong> Bebida ^o^ </strong>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body text-center">
              <img class="img-fluid" src="../../assets/ice-cream.png" alt="" />
              <span class="mt-5">
                <strong> Sobimesaa :3 </strong>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body text-center">
              <img class="img-fluid" src="../../assets/dishes.png" alt="" />
              <span class="mt-5">
                <strong> Porção :) </strong>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-10 p-0 menu">
        <div class="card h-100 bg-dark">
          <div class="card-body menu-dentro ms-3 me-4 my-3">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              @for (item of list; track item.id) {
              <div class="col">
                <div class="boxheas">
                  <a class="menuItem" (click)="buttonClick(item)">
                    <div class="card h-100">
                      <img src="..." class="card-img-top" alt="..." />
                      <div class="card-body text-center">
                        <h1 class="card-title">{{ item.nome }}</h1>
                        <!-- <p class="card-text">{{ item.descricao }}</p> -->
                      </div>
                    </div>
                  </a>

                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row scroll">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive scroll">
              <table class="table rounded">
                <thead>
                  <tr>
                    <th scope="col" class="h5">Carrinho</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <div class="d-flex align-items-center">
                        <img
                          src="https://i.imgur.com/2DsA49b.webp"
                          class="img-fluid rounded-3"
                          alt="Book"
                        />
                        <div class="flex-column ms-4">
                          <p class="mb-2">Thinking, Fast and Slow</p>
                          <p class="mb-0">Daniel Kahneman</p>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle">
                      <p class="mb-0" style="font-weight: 500">Digital</p>
                    </td>
                    <td class="align-middle">
                      <div class="d-flex flex-row">
                        <button
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        >
                          <i class="fas fa-minus"></i>
                        </button>

                        <input
                          id="form1"
                          min="0"
                          name="quantity"
                          value="2"
                          type="number"
                          class="form-control form-control-sm"
                          style="width: 50px"
                        />

                        <button
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </td>
                    <td class="align-middle">
                      <p class="mb-0" style="font-weight: 500">$9.99</p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="border-bottom-0">
                      <div class="d-flex align-items-center">
                        <img
                          src="https://i.imgur.com/Oj1iQUX.webp"
                          class="img-fluid rounded-3"
                          style="width: 120px"
                          alt="Book"
                        />
                        <div class="flex-column ms-4">
                          <p class="mb-2">
                            Homo Deus: A Brief History of Tomorrow
                          </p>
                          <p class="mb-0">Yuval Noah Harari</p>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle border-bottom-0">
                      <p class="mb-0" style="font-weight: 500">Paperback</p>
                    </td>
                    <td class="align-middle border-bottom-0">
                      <div class="d-flex flex-row">
                        <button
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        >
                          <i class="fas fa-minus"></i>
                        </button>

                        <input
                          id="form1"
                          min="0"
                          name="quantity"
                          value="1"
                          type="number"
                          class="form-control form-control-sm"
                          style="width: 50px"
                        />

                        <button
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </td>
                    <td class="align-middle border-bottom-0">
                      <p class="mb-0" style="font-weight: 500">$13.50</p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="border-bottom-0">
                      <div class="d-flex align-items-center">
                        <img
                          src="https://i.imgur.com/Oj1iQUX.webp"
                          class="img-fluid rounded-3"
                          style="width: 120px"
                          alt="Book"
                        />
                        <div class="flex-column ms-4">
                          <p class="mb-2">
                            Homo Deus: A Brief History of Tomorrow
                          </p>
                          <p class="mb-0">Yuval Noah Harari</p>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle border-bottom-0">
                      <p class="mb-0" style="font-weight: 500">Paperback</p>
                    </td>
                    <td class="align-middle border-bottom-0">
                      <div class="d-flex flex-row">
                        <button
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        >
                          <i class="fas fa-minus"></i>
                        </button>

                        <input
                          id="form1"
                          min="0"
                          name="quantity"
                          value="1"
                          type="number"
                          class="form-control form-control-sm"
                          style="width: 50px"
                        />

                        <button
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </td>
                    <td class="align-middle border-bottom-0">
                      <p class="mb-0" style="font-weight: 500">$13.50</p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="border-bottom-0">
                      <div class="d-flex align-items-center">
                        <img
                          src="https://i.imgur.com/Oj1iQUX.webp"
                          class="img-fluid rounded-3"
                          style="width: 120px"
                          alt="Book"
                        />
                        <div class="flex-column ms-4">
                          <p class="mb-2">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Commodi reprehenderit necessitatibus, magni
                            in, totam repellendus eius sapiente molestiae
                            asperiores quas temporibus. Iste blanditiis itaque
                            quo consectetur excepturi officia at repudiandae.
                          </p>
                          <p class="mb-0">Yuval Noah Harari</p>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle border-bottom-0">
                      <p class="mb-0" style="font-weight: 500">Paperback</p>
                    </td>
                    <td class="align-middle border-bottom-0">
                      <div class="d-flex flex-row">
                        <button
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        >
                          <i class="fas fa-minus"></i>
                        </button>

                        <input
                          id="form1"
                          min="0"
                          name="quantity"
                          value="1"
                          type="number"
                          class="form-control form-control-sm"
                          style="width: 50px"
                        />

                        <button
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </td>
                    <td class="align-middle border-bottom-0">
                      <p class="mb-0" style="font-weight: 500">$13.50</p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="border-bottom-0">
                      <div class="d-flex align-items-center">
                        <img
                          src="https://i.imgur.com/Oj1iQUX.webp"
                          class="img-fluid rounded-3"
                          style="width: 120px"
                          alt="Book"
                        />
                        <div class="flex-column ms-4">
                          <p class="mb-2">
                            Homo Deus: A Brief History of Tomorrow
                          </p>
                          <p class="mb-0">Yuval Noah Harari</p>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle border-bottom-0">
                      <p class="mb-0" style="font-weight: 500">Paperback</p>
                    </td>
                    <td class="align-middle border-bottom-0">
                      <div class="d-flex flex-row">
                        <button
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        >
                          <i class="fas fa-minus"></i>
                        </button>

                        <input
                          id="form1"
                          min="0"
                          name="quantity"
                          value="1"
                          type="number"
                          class="form-control form-control-sm"
                          style="width: 50px"
                        />

                        <button
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </td>
                    <td class="align-middle border-bottom-0">
                      <p class="mb-0" style="font-weight: 500">$13.50</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="p-3">
    <div class="row mx-3">
      <div class="col col-6">
        <a class="button1"> <strong>Cancelar</strong></a>
      </div>
      <div class="col col-6">
        <a class="button2"><strong>Feito!</strong></a>
      </div>
    </div>
  </div>
</div>
