<div class="body overflow-hidden">
  <nav class="navbar sticky-top fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sticky top</a>
    </div>
  </nav>
  <div class="main">
    <div class="row overflow-hidden">
      <div class="col col-2">
        <div class="row">

          <div class="card">
            <div class="card-body text-center">
                <img class="img-fluid" src="../../assets/burgar3.png" alt="">
                <span class="mt-5">
                  <strong>
                    Hamburgar :D
                  </strong>
                </span>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="card">
            <div class="card-body text-center">

              <img class="img-fluid" src="../../assets/pizza.png" alt="">
              <span class="mt-5">
                <strong>
                  Pisaaa :D
                </strong>
              </span>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body text-center">

              <img class="img-fluid" src="../../assets/smoothie.png" alt="">
              <span class="mt-5">
                <strong>
                  Bebida ^o^
                </strong>
              </span>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body text-center">

              <img class="img-fluid" src="../../assets/ice-cream.png" alt="">
              <span class="mt-5">
                <strong>
                  Sobimesaa :3
                </strong>
              </span>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body text-center">

              <img class="img-fluid" src="../../assets/dishes.png" alt="">
              <span class="mt-5">
                <strong>
                  Porção :)
                </strong>
              </span>

            </div>
          </div>
        </div>

      </div>

      <div class="col col-10 p-0 menu">
        <div class="card h-100 bg-dark">
          <div class="card-body menu-dentro">

              is some text within a card body.

              <div class="card">
                <div class="card-body">
                  ASDKLAN
                </div>
              </div>

              
          </div>
        </div>
      </div>

    </div>
    <div class="row scroll">
      <div class="col-12">
        <div class="card ">
          <div class="card-body">

            <!-- <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
              <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
            </cdk-virtual-scroll-viewport> -->
            <img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br>
            <img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br><img class="img-fluid" src="../../assets/ice-cream.png" alt="">
            <span class="mt-5">
              <strong>
                Sobimesaa :3
              </strong>
            </span>
            <br>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="footer" class="p-3">
    <div class="row mx-3">
      <div class="col col-6">

        <a class="button1"> <strong>Cancelar</strong></a>
      </div>
      <div class="col col-6">
        <a class="button2"><strong>Feito!</strong></a>

      </div>
    </div>


  </div>

</div>

